.photo__logement {
  margin: 80px;
}

.photo__logement img {
  width: 100%;
}

.detail__logement {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  margin-top: -150px;
  margin-bottom: 30px;
  color: #ff6060;
}

.detail__logement__name_adress h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.detail__logement__name_adress p {
  font-size: 18px;
  font-weight: 500;
}

.detail__logement__tags {
  display: flex;
  flex-direction: row;
  color: white;
}

.detail__logement__tag {
  background-color: #ff6060;
  border-radius: 12px;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 18px;
}

.detail__logement__proprio {
  display: flex;
  flex-direction: column;
}

.detail__logement__proprio__content p {
  text-align: right;
  display: flex;
  column-gap: 10px;
  width: min-content;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.detail__logement__proprio__name img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}

.detail__logement__proprio__name {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  white-space: wrap;
}

.detail__logement__proprio__name p {
  font-size: 18px;
  font-weight: 500;
  padding-right: 15px;
}

.detail__logement__all_stars {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  margin-top: 20px;
}
