.about__content {
  padding-left: 12%;
  padding-right: 12%;
}

@media screen and (max-width: 600px) {
  .about__content {
    padding-left: 0;
    padding-right: 0;
    margin: auto;
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .about__content {
  }
}
