.collapse {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
}
.collapse__container {
  width: 100%;
  margin: 12px;
}

.detail__main .collapse__title h2 {
  font-size: 18px;
  font-weight: 500;
}

.detail__main .collapse__description {
  font-size: 18px;
  font-weight: 400;
}
