.collapse {
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: 0 auto;
}
.collapse__container {
  width: 100%;
  padding: 15px;
}

.detail__main {
  margin-bottom: 30px;
}

.detail__main .collapse__title h2 {
  font-size: 18px;
  font-weight: 500;
}

.detail__main .collapse__description {
  font-size: 18px;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .collapse__container {
    padding: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 375px) {
  .collapse__container {
    padding: 0;
    margin-bottom: 15px;
  }

  .detail__main .collapse__title h2 {
    font-size: 13px;
  }

  .detail__main .collapse__description {
    font-size: 12px;
  }
}
