.logement_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  border-radius: 25px;
}

.logement_main a {
  width: 28%;
  margin: 30px;
  margin-top: 60px;
  text-decoration: none;
}

.logement_main a img {
  width: 100%;
  min-height: 340px;
  object-fit: cover;
}

.logement_main a img {
  filter: brightness(0.7);
  border-radius: 10px;
}

.card_title {
  height: 40px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  margin-top: -35px;
}

.title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  width: 66%;
  filter: brightness(1);
}

@media screen and (max-width: 1280px) {
  .logement_main a img {
    min-height: 340px;
  }
  .logement_main a {
    width: 37%;
  }
}

@media screen and (max-width: 911px) {
  .logement_main a {
    width: 40%;
    margin-top: 30px;
    background-color: none;
  }
  .logement_main a img {
    min-height: 260px;
  }

  .logement_main {
    width: 100%;
    margin-top: 30px;
    background-color: white;
  }
}

@media screen and (max-width: 600px) {
  .logement_main {
    flex-direction: column;
  }
  .logement_main a {
    width: 90%;
  }
  .logement_main a img {
    max-height: 120px;
  }

  .card_title {
  }
}

@media screen and (max-width: 375px) {
  .logement_main {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  .logement_main a {
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }

  .card_title {
  }
}
