.logement_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  margin: auto;
  margin-top: 50px;
  width: 90%;
  border-radius: 25px;
}

.logement_main a {
  width: 28%;
  margin: 30px;
  margin-top: 60px;
  text-decoration: none;
}

.logement_main a img {
  width: 100%;
  min-height: 340px;
  object-fit: cover;
}

.logement_main a img {
  filter: brightness(0.7);
  border-radius: 10px;
}

.card_title {
  margin-top: -75px;
  height: 40px;
  color: white;
  font-weight: 600;
}

.title {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
  width: 66%;
  filter: brightness(1);
}
