.error__number {
  font-weight: 700;
  font-size: 288px;
  text-align: center;
  margin: 0;
  color: #ff6060;
}

.error__text {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
  color: #ff6060;
}

.link__home {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 100%;
  color: #ff6060;
  margin-bottom: 80px;
}

.error__container a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
