.error__number {
  font-weight: 700;
  font-size: 288px;
  text-align: center;
  margin: 0;
  color: rgba(255, 96, 96);
}

.error__text {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 80px;
  color: rgba(255, 96, 96);
}

.link__home {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  width: 100%;
  color: rgba(255, 96, 96);
  margin-bottom: 80px;
}

.error__container a {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
