.main_b {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  height: 200px;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/banner.png);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.banner {
  width: 100%;
  background-image: url(../assets/banner.png);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  filter: brightness(0.5);
}*/

.banner h1 {
  color: white;
  filter: brightness(1);
  padding: auto;
  margin-left: 20px;
  margin-right: 20px;
}
