.h_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

nav {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
  margin-right: 20px;
}

li a {
  text-decoration: none;
  color: rgb(255, 96, 96);
  font-size: 24px;
  font-weight: 500;
}

li a:hover {
  border-bottom: 2px solid rgb(255, 96, 96);
}
